.login-form-modal {
    color: white;
    background: black;
  }
  
  .login-modal-background {
    background: rgba(0, 0, 0, 0.75);
  }
  
  .login-modal-content {
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid red;
  }
  
  .login-form-title {
    color: red;
  }
  
  .login-form {
    border: 1px solid blue;
  }
  
  .login-form-input {
    background: white;
    color: black;
  }
  
  .login-form-button {
    background: red;
    color: white;
  }
  
  .login-form-demo-button {
    background: blue;
    color: white;
  }
  
  li{
    color: red;
  }
