.product-create-container {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#product-create-title {
    color: #ff0000;
    text-align: center;
}

.error-message {
    color: #ff0000;
}

.product-create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #ff0000;
}

.form-group .form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0000ff;
}

.create-product-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #ff0000;
    cursor: pointer;
}

.create-product-button:hover {
    background-color: #0000ff;
    color: #fff;
}
